/* Define CSS Variables for Colors */
:root {
  --done-bg-color: rgba(25, 118, 210, 0.01);
  --done-text-color: rgba(0, 0, 0, 0.4);
  --undone-bg-color: #f3f2ed;
  --date-text-color: rgb(124, 122, 122);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
}

/* Styles for Done Todo Items */
.TodoItem-li-done {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--done-bg-color);
  color: var(--done-text-color);
  margin: 5px auto;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  text-decoration: line-through;
}

/* Styles for Undone Todo Items */
.TodoItem-li-undone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--undone-bg-color);
  margin: 5px auto;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  font-style: italic;
}

/* Styles for Task Text */
.Task-done {
  /* Add styles if needed */
}

.Task-undone {
  width: 200px;
}

/* Styles for Date */
.TodoItem-date {
  font-size: 0.7rem;
  color: var(--date-text-color);
}
