@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Sniglet:wght@400;800&display=swap");
.App {
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);

  height: 100vh;
}
.App-header {
  padding: 5px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Faster One", cursive;
  letter-spacing: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.App-div-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.App-ul {
  list-style-type: none;
  margin: 30px auto;
  padding: 0;
  border-radius: 20px;
  width: 70%;
}

.App-main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App-footer {
  text-align: center;
  margin-right: 50px;
}

