@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Sniglet:wght@400;800&display=swap');

/* General Styles */
.App {
}

/* Header Styles */
.App-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family: 'Faster One', cursive;
  letter-spacing: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.App-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header-content img {
  margin-right: 40px;
  width: 92px;
}

/* Input Styles */
.App-div-input {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  max-width: 50%;
}

/* List Styles */
.App-ul {
  list-style-type: none;
  margin: 30px auto;
  padding: 0;
  border-radius: 20px;
  width: 100%;
}

/* Main Content Styles */
.App-main {
  min-height: 55vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer Styles */
.App-footer {
}

.App-footer h5 {
  text-align: center;
  line-height: 10px;
  margin-top: 50px;
}

.App-footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.App-footer a:hover {
  color: #1976d2;
}

/* Override SweetAlert2 icon styles */
.swal2-icon.swal2-warning .swal2-icon-content {
  font-size: 4rem; /* Adjust the font size as needed */
  font-weight: 700; /* Adjust the font weight as needed */
}