.TodoItem-li-done {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: #8ab8fc;
  margin: 5px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.TodoItem-li-undone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: #f3f2ed;
  margin: 5px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.Task-done {
  text-decoration: line-through;

}

.Task-undone {
  font-style: italic;
}

.TodoItem-date {
  font-size: 0.7rem;
  color: rgb(124, 122, 122);
}
